.body404{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: black;
  }
  
  .tituloError{
    font-size: xx-large;
    font-weight: bold;
    font-family: Paytone One;
    margin-top: 1%;
    text-align: center;
    color: white;
  }
  
  .gifError img{
    width: 40%;
  }
  
  .botonBackError{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
  }
  .botonBackError button{
    background-color: rgb(43, 210, 216);
    width: 20% ;
    border-radius: 50px;
    border: none;
    padding: 5px;
    font-family: Paytone One;
    font-size: x-large;
  }
  
  .botonBackError button:hover{
     color: rgb(255, 255, 255);
     background-color: #1CB698;
    
     transform: scale(1);
     color: white;
     transition: all 700ms ease; /* velocidad a la que se abre el campo de busqueda */
  }

  
/* Laptops */
@media (max-width:1000px){
    .tituloError{
      font-size: x-large;
    }
    .botonBackError{
      font-size: large;
    }
    .botonBackError button{
      width: 35% ;
      font-size: large
    }
  } 
  
  /* Tablets */
  @media (max-width:600px){
    .tituloError{
      font-size: large;
    }
    .gifError img{
      width: 60%;
    }
    .botonBackError{
      font-size: medium;
    }
    .botonBackError button{
      width: 35% ;
      font-size: medium
    }
  }
  /* Mobile */
  @media (max-width:480px){
    .tituloError{
      font-size: small;
    }
    .gifError img{
      width: 60%;
    }
    .botonBackError{
      font-size: small;
    }
    .botonBackError button{
      width: 35% ;
      font-size: small
    }
  }