@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: "Work Sans";
    margin: 0;
    padding: 0;
}
/* Scroll personalizado */
body::-webkit-scrollbar{
    width: 9px;
    background: black;
}
body::-webkit-scrollbar-thumb{
    background:var(--color-primario);
    border-radius: 5px;
}
html{
    scroll-behavior: smooth; /* Permite desplazarme a la seccion que hago clic */
}
a{
    text-decoration: none;
}
body{
    font-family: "Poppins", sans-serif;
    color: white;
    background: #000000;
}
h1{
    font-family: 'Righteous', sans-serif;
    font-size: 50px;
}
h2{
    font-family: 'Righteous', sans-serif;
    font-size: 25px;
}
h3{
    font-family: 'Righteous', sans-serif;
    font-size: 30px;
}
:root{
    --color-primario: #dc143c;
}
/*================== HEADER ==================*/
header{
    background: #252A2E;
    font-family: "Poppins", sans-serif;
}

/* Boton WhatsApp */
.btn-wsp{
    position:fixed;
    width: 60px;
    height: 60px;
    line-height: 60px;
    bottom: 50px;
    right: 50px;
    background: #25D366;
    border-radius:50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:center;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
    transition: 0.3s ease-in-out;
    animation: ripple 0.6s linear infinite; /* Efecto onda expansiva */
}
@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 #c3c1c133,
                  0 0 0 20px rgba(195, 193, 193, 0.2);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(195, 193, 193, 0.2),
                  0 0 0 30px rgba(0, 0, 0, 0);
    }
}
.btn-wsp i{
    font-size: 40px;
    color: #fff !important;
}
.btn-wsp:hover{
    transform: scale(130%) rotate(360deg);
    animation: none;
}
.logoHeader{
    width:40px
}
.logoHeader img{
    width:100%
}
/* Burger menu */
.navbar-toggler{ 
    display:none;
    border: none;
}
.navbar-toggler:focus { /* quita el recuadro al hacer click en el burgermenu */
    outline: none;
    box-shadow: none;
}
.navbar-nav{
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    --bs-navbar-padding-y: 0;
}
.nav-item {
    text-align: center;
}
.nav-link{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    height: 70px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    position: relative;
}
.nav-link:hover{
    color: white;
    font-style: italic;
}
.subrayado::after{  /* raya del subtitulo */
    content: " ";
    position: absolute;
    bottom: 13px;
    height: 3px;
    width: 100%;
    left: 0;
    background-color: var(--color-primario);
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
  }
.subrayado:hover::after{
    transform: scaleX(1);
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white;
}
.dropdown-menu.show {
    background: #343a40;
    color: white;
}
.dropdown-item {
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
}
.dropdown-menu { /* Menu desplegable Desktop de modelos de autos */
    --bs-dropdown-min-width: 90%;
    margin: 0 10px;
}
.dropdown-menu[data-bs-popper] { /* Menu desplegable responsive de modelos de autos */
    margin: 0 10px;
}
/*------------ MODO NOCTURNO ------------*/
.botonNocturno{
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
input#toggle{
    display: none;
}
.light{ /* Body */
    background-color: white; 
    color: black;
}
.light .particles{
    color: red;
}
.light .navbar .nav-link{  /* Secciones header */
    color: white;
}
.light .presentacion h2{ /* Texto autoescritura  */
    background-image: linear-gradient(black, gray);  /* Color con el que va a rellenar las letras */
}
.light .presentacion h2::before{ /* Barrita de escritura */
    border-right: 2px black solid; 
}
.light .redesInicio a{ /* Redes inicio */
    border: black solid 1px;
}
.light .redesInicio i{
    color: black;
    font-weight: bold;
}
.light .circle-spin{ /* Circulo Avatar */
    border-top: white solid 3px;
    border-bottom: white solid 3px;
}
.light .cajaCv button{ /* Boton neon */
    color: black;
    border: black solid 3px;
}
.light .cajaCv button:hover{
    -webkit-box-shadow: 0px 0px 21px 4px rgba(64,207,255,1);
    -moz-box-shadow: 0px 0px 21px 4px rgba(64,207,255,1);
    box-shadow: 0px 0px 21px 4px rgba(64,207,255,1);
    color: white;
}
.light .interes{ /* Caja interes */
    background: black;
    color: white;
}
.light .nav-link.active{ /* Boton tabs activo */
    background: black!important;
    color: white;   
}
.light .nav-link{  /* Botones tabs */
    color: black;
}
.light .herramienta i{  /* Iconos skills */
    color: black;
}
.light .instituto{  /* Borde estudios y experiencia */
    border-bottom: black solid 3px;
}
.light .arriba:hover{
    border: black solid 1px;
}
.light .infoContacto{
    background:black;
    color: white;
}
.toggle .fa-moon{
    color: black;  /* color de la luna cuando esta seleccionada */
}
.light .toggle .fa-moon{
    color: white  /* color de la luna cuando no esta seleccionada */
}
.light .toggle .fa-sun{
    color: black; /* color del sol cuando lo selecciono */
}
.light .toggle .ball{
    background: white; /* pelota cuando pongo el sol */
    transform: translateX(52px);
}
.toggle{
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 60px;
    border-radius: 50px;
    transition: 2s;
}
.toggle i{
    width: 50%;
    line-height: 55px;
    text-align: center;
    font-size: 25px;
    z-index: 1;
}
.toggle .ball{
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 7.5px 3px;
    border-radius: 50%;
    transition: .3s ease-out;
    background: white; /* color que tiene la pelota en la luna (seleccionada cuando aparece) */
}

@media (max-width:992px){ 
    .container-fluid{
        --bs-gutter-x: 0px ;
    }
    .navbar-toggler{
        display:block 
    }
    .logoHeader{
        margin-left: 15px;
    }
    /* estilos del burger menu */
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s ;
    }
    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }
    .dropdown-content {
        position: static; /* desplaza hacia abajo al abrir el listado */
    }
    .collapse{
        height: auto;
    }
    .botonNocturno{
        margin-left: auto;
        margin-right: auto
    }
}
@media (max-width:625px){ 
    .btn-wsp{
        width: 50px;
        height: 50px;
        line-height: 50px;
        right: 20px;
    }
    .btn-wsp i{
        font-size:30px
    }
    @keyframes ripple {
        0% {
          box-shadow: 0 0 0 0 rgba(195, 193, 193, 0.2),
                      0 0 0 15px rgba(195, 193, 193, 0.2);
        }
        100% {
          box-shadow: 0 0 0 15px rgba(195, 193, 193, 0.2),
                      0 0 0 25px rgba(0, 0, 0, 0);
        }
    }
}

/*================== INICIO ==================*/
#particles-js {
    position: absolute;
    top: 65;
    left: 0;
    width: 100%;
    height: 90vh;
}
#inicio{
    margin-top: 70px;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inicioPadre{
    display: flex;
    width: 1300px;
    user-select: none;
}
.presentacion{
    display:flex;
    flex-direction: column;
    width: 50%;
    font-family: 'Righteous', sans-serif;
    justify-content: center;
}
.colorAlternativo{
    color: var(--color-primario);
    font-family: 'Righteous', sans-serif;
}
.presentacion h2{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    position: relative;
    width: 425px;
    color: transparent;
    background-image: linear-gradient(white, white);  /* Color con el que va a rellenar las letras */
    background-repeat: no-repeat;  /* Borra el relleno cuando vuelve hacia atras */
    -webkit-background-clip: text;  /* rellena solo el texto y no la caja */
    background-clip: text;
    background-position: 0 0;
    animation: rellenadoTexto 5s linear infinite;
}
.presentacion h2::before{ /* Barrita de escritura */
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 0;
    height: 75%;
    border-right: 2px white solid; 
    animation: barrido 5s linear infinite, titila 0.9s infinite;
}
@keyframes rellenadoTexto{
    0%,10%,100%{
        background-position: -425px 0;  /* Desde donde arranca el efecto de relleno */
    }
    65%, 85%{  /* Demora el reinicio de autoescritura */
        background-position: 0 0;
    }
}
@keyframes barrido {
    0%,10%,100%{
       width: 0;
    }
    65%, 85%{
        width: 100%;
    }
}
@keyframes titila{
    50%{
        border-right: transparent; /* efecto para que titile la linea de barrido */
    }
}
.redesInicio{
    display: flex;
}
.redesInicio a{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 5px;
    font-size: 20px;
    transition: .3s;
    text-align: center;
    z-index: 200;
}
.redesInicio a:hover{
    background-color: var(--color-primario);
    border: var(--color-primario);
}
.fotoAvatar{
    position: relative;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content:center;
    align-items:center;
}
.fotoAvatar img{
    border: 3px solid var(--color-primario);
    display: block;
    width: 90%;  /* Al ser 10% mas chico que la caja de imagen separa los circulos que giran */
    border-radius: 50%;
    filter: contrast(130%);
}
.circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 3px solid black;  /* El borde de arriba y abajo son del color del fondo (para que simule no aparecer) */
    border-bottom: 3px solid black;
    border-left: 3px solid var(--color-primario);
    border-right: 3px solid var(--color-primario);
    animation: girar 5s linear infinite;
}
@keyframes girar {
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/*================== SOBRE MI ==================*/
#sobremi{
    text-align: center;
    padding: 70px 0px 30px 0px;
}
.padreSobreMi{
    margin-top: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.cajaSobreMi{
    width: 40%;
    text-align: start;
    margin-right: 50px;
    font-size: 16.5px;
}
.interesesPadre{
    width: 40%;
    margin-bottom: auto;
    
}
.cajasIntereses{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content:center;
    align-items: center;
    margin: 20px auto
}
.interes{
    width: 100px;
    height: 100px;
    background: white;
    color: black;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    transition: .3s ease-in-out;
    border-radius: 10px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    cursor: default;
}
.interes i{
    font-size: 30px;
}
.interes:hover{
    background-color: var(--color-primario);
    color: white;
    transform: scale(1.08); 
}
.cajaCv button{
    margin-top: 30px;
    width:250px;
    font-size:20px;
    text-transform: uppercase;
    height: 50px;
    transition: .3s ease-in-out;
    background-color: transparent;
    border: white solid 3px;
    color: white;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
}
.cajaCv button:hover{
    background-color: var(--color-primario);
    color: #050801;
    border: none;
    box-shadow: 0 0 5px var(--color-primario),
                0 0 25px var(--color-primario),
                0 0 50px var(--color-primario),
                0 0 200px var(--color-primario);
}

/*================== SKILLS ==================*/
#skills{
    text-align: center;
    padding: 70px 0px 30px 0px;
}
.padreSkills{
    margin-top: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.nav-tabs{
    border-bottom: none;
}
.nav-tabs .nav-link {
    border-radius: var(--bs-nav-tabs-border-radius);
}
.nav-tabs .nav-link{
    border: var(--color-primario) solid 2px;
}
.nav-link.active{
    border-radius: 10px;
}
.nav-tabs .nav-link.active{
    border-bottom: #dee2e6 solid 1px;
    font-style: italic;
}
.tab-content{
    width: 1300px;
}
.herramientasPadre{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.cajaHerramientas{
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    align-items: center;
    justify-content: center;
}
.herramienta{
    width: 90px;
    height: 90px;
    font-size: 60px;
    margin: 0 15px;
    color: white;
    transition: .3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.herramienta:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.herramienta:hover .fa-html5{
    color: #e34c26;
}
.herramienta:hover .fa-css3-alt{
    color: #2965f1;
}
.herramienta:hover .fa-js{
    color: #F0DB4F;
}
.herramienta:hover .fa-react{
    color: #61dbfb;
}
.herramienta:hover .fa-node{
    color: #68a063;
}
.herramienta:hover .fa-github{
    color: purple;
}
.herramienta:hover .fa-database{
    color: firebrick
}
.herramienta:hover .fa-bootstrap{
    color: #563d7c
}
.herramienta:hover .fa-slack{
    color: #e01563
}
.herramienta:hover .fa-digital-ocean{
    color: #008bcf
}
.herramienta img{
    width: 60px;
    filter: grayscale(100%)
}
.herramienta:hover img{
    filter: grayscale(0%)
}
.express{
    font-size:35px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background: white;
    color: gray;
    margin: 0 28px;
}
.express:hover{
    background: gray;
    color: white
}
.cajaHabilidadesTecnicas{
    width: 550px;
}
.hablidadesBlandasPadre{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.columnaHabilidades{
    width: 550px;
}
.habilidad{
    width: 100%;
}
.habilidad h2{
    text-align: start
}
.barra-skill{
    height: 15px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.progreso{
    background-color: var(--color-primario);
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
}
.progreso i{
    font-size: 20px;
}
.barra-skill span{
    position: absolute;
    height: 45px;
    width: 45px;
    background-color: var(--color-primario);
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    top: -17px;
    right: -15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Estas clases se agregaran dinamicamente mediante javascript */
.responsive{
    width: 0%;
    animation: 2s responsive forwards;
}
@keyframes responsive {
    0%{width: 0%;}
    100%{width: 100%;}
}
.bases{
    width: 0%;
    animation: 2s bases forwards;
}
@keyframes bases {
    0%{width: 0%;}
    100%{width: 100%;}
}
.frontend{
    width: 0%;
    animation: 2s frontend forwards;
}
@keyframes frontend {
    0%{width: 0%;}
    100%{width: 100%;}
}
.equipo{
    width: 0%;
    animation: 2s equipo forwards;
}
@keyframes equipo {
    0%{width: 0%;}
    100%{width: 100%;}
}
.creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 100%;}
}
.adaptabilidad{
    width: 0%;
    animation: 2s adaptabilidad forwards;
}
@keyframes adaptabilidad {
    0%{width: 0%;}
    100%{width: 100%;}
}
.autoaprendisaje{
    width: 0%;
    animation: 2s autoaprendisaje forwards;
}
@keyframes autoaprendisaje {
    0%{width: 0%;}
    100%{width: 100%;}
}
.dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
    0%{width: 0%;}
    100%{width: 100%;}
}
.organizacion{
    width: 0%;
    animation: 2s organizacion forwards;
}
@keyframes organizacion {
    0%{width: 0%;}
    100%{width: 100%;}
}

/*================== EDUCACION/TRABAJOS ==================*/
#educacion{
    text-align: center;
    padding: 70px 0px 30px 0px;
}
#experiencia{
    text-align: center;
    padding: 70px 0px 30px 0px;
}
.padreInstitutos{
    display: flex;
    flex-direction: column;
    width: 992px;
    margin: 20px auto;
}
.instituto{
    display: flex;
    border-bottom: white solid 3px;
    margin-top:20px;
    cursor: crosshair;
}
.instituto:hover{
    border-bottom: var(--color-primario) solid 3px;
}
.imagenInstituto{
    width: 180px;
    display: flex;
    align-items: center;
}
.imagenInstituto img{
    width: 100%;
    margin: 0 auto;
}
.infoInstituto{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    text-align: start;
    padding-left: 40px;
}
.infoInstituto p{
    font-size: 18px
}

/*================== PORTFOLIO ==================*/
#portfolio{
    padding: 70px 0px 30px 0px;
    text-align: center
}
.padrePortfolio{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content:center;
}
.sitioWeb{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 20px;
}
.proyecto{
    width: 350px;
    max-height: 250px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.34);
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.34);
}
.proyecto img{
    width: 100%;
}
.overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    background:var(--color-primario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.iconosOverlay{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.overlay i{
    font-size: 40px;
}
.proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 0.5s;
}
.proyecto .overlay:hover{
    opacity: 1;
}
.proyecto .overlay:hover h3{
    margin-bottom: 0px;
}
.cajaNegra{
    border: #252A2E solid 4px;
    border-radius:10px
}
.cajaNegra:hover{
    border: none;
}
.botonRepo button{
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: large;
    font-family: "Work Sans";
    padding: 2px 5px 2px 5px;
    border: white 2px solid;
    color: white;
    background-color: #252A2E;
    transition: .3s ease-in-out;
}
.botonRepo{
    text-align: center;
    margin-top: 10px;
}
.botonRepo button:hover {
    background-color: var(--color-primario);
    cursor: pointer;
    border-radius: 15px;
}

/*================== CONTACTO ==================*/
#contacto{
    padding: 70px 0px 30px 0px;
    text-align: center;
}
.contactoPadre{
    display: flex;
    justify-content: space-between;
    width: 992px;
    margin: 0 auto;
}
.formulario{
    display: flex;
    justify-content:center;
}
#miFormulario{
    display: flex;
    flex-direction: column;
    width: 450px;
}
.formulario input{
    padding: 13px;
    margin: 10px 0;
    border-radius: 5px;
    border: black solid 2px;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.formulario input:hover{
    border: var(--color-primario) solid 2px;
}
.formulario textarea{
    padding: 13px;
    margin: 10px 0;
    border-radius: 5px;
    border: black solid 2px;
    cursor: pointer;
    transition: .2s ease-in-out;
    resize: none /* no permite agrandar o achicar el text area */
}
.formulario textarea:hover{
    border: var(--color-primario) solid 2px;
}
.mapa{
    width: 450px;
    position: relative;
}
.infoContacto{
    position: absolute;
    top: 35%;
    right: 20%;
    border: none;
    background: #1f1f1f;
    font-weight: bold;
    text-align: start;
    padding: 20px;
}

/*================== FOOTER ==================*/
/*------- SECCION FOOTER -------*/
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 40px 0 8px 0;
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: 80px;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 5px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .redes a:hover{
    background-color: var(--color-primario);
    border: var(--color-primario);
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--color-primario);
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
.arriba:hover{
    background-color: white;
    color: var(--color-primario);
}
.arriba i {
    transition: transform 0.5s ease; /* Transición para suavizar el giro */
}
.arriba:hover i {
    transform: rotateY(360deg); /* Gira 360 grados al hacer hover */
}
@media(max-width:1400px){
    .inicioPadre{
        width: 90%;
    }
}
@media (max-width:1300px){
    .tab-content{
        width: 90%;
    }
    .herramientasPadre, .hablidadesBlandasPadre{
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    .habilidad h2{
        width:80%;
        margin-right: auto;
        margin-left: auto;
    }
    .barra-skill{
        margin: 0 auto;
    }
}
@media (max-width:992px){
    .inicioPadre{
        flex-direction: column-reverse; /* Invierto el orden de aparicion (avatar nombre) */
        align-items: center;
        height:90%;
    }
    .presentacion{
        width: 90%;
    }
    .redesInicio{
        justify-content: center;
    }
    #inicio{
        margin-top: 50px;
        height: 94vh;
    }
    .padreSobreMi{
        flex-direction: column;
        margin-right: auto;
    }
    .cajaSobreMi{
        width: 90%;
        margin: 0 auto 30px auto;
        text-align: justify;
    }
    .interesesPadre{
        width: 90%;
    }
    .cajasIntereses{
        width: 100%;
    }
    .padreInstitutos{
        width: 90%;
    }
    .padrePortfolio{
        width: 90%;
    }
    .proyecto{
        width: 330px;
        margin: 0 auto;
    }
    .contactoPadre{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .mapa{
        margin-top: 40px;
        height: 500px;
    }
}
@media (max-width:800px){
    .cajaHerramientas, .cajaHabilidadesTecnicas, .columnaHabilidades{
        width: 90%;
    }
}
@media(max-width:600px){
    .fotoAvatar{
        position: relative;
        width: 250px;
        height: 250px;
    }
    .presentacion h2{
        font-size: 15px;
        width: 320px;
    }
    @keyframes rellenadoTexto{
        0%,10%,100%{
            background-position: -320px 0;  /* Desde donde arranca el efecto de relleno */
        }
        65%, 85%{  /* Demora el reinicio de autoescritura */
            background-position: 0 0;
        }
    }
}
@media(max-width:480px){
    .instituto{
        flex-direction: column;
    }
    .imagenInstituto{
        margin-left: auto;
        margin-right: auto;
    }
    .padrePortfolio{
        width: 100%;
    }
    .sitioWeb{
        width: 320px;
    }
    .proyecto{
        width: 320px;
    }
    .habilidad h2{
        width:95%;
    }
    .barra-skill{
        width: 95%;
        height: 13px;
    }
    .progreso{
        height: 13px;
    }
    .barra-skill span {
        position: absolute;
        height: 40px;
        width: 40px;
        background-color: var(--color-primario);
        border-radius: 50px;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        top: -14px;
        right: -15px;
        font-size: 12px;
    }
    .formulario{
        width: 80%;
    }
    .mapa{
       display: none;
    }
}
